<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secure</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <servlet>
    <servlet-name>TestJSP</servlet-name>
    <jsp-file>/test.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJSP</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MeetSanta</servlet-name>
    <jsp-file>/meetSanta.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetSanta</servlet-name>
    <url-pattern>/meetSanta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Resultpage</servlet-name>
    <jsp-file>/resultpage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resultpage</servlet-name>
    <url-pattern>/resultPage</url-pattern>
  </servlet-mapping>
</web-app>